extends layouts/base
prepend html-head
    title Project index

block page-main
    .container
        .row
            .col-xs-12
                ul
                    li
                        a(href="01_homepage.html") Home page
                    li
                        a(href="99_contenttest.html") Content test page